/* 
ブレイクポイント
２０００px
１７００px
１１９５px
９４０px
７６０px
 */

/* ========================================
    
        min-width:2000px
    
========================================= */

@media (min-width: 2000px) {
  .catchcopy {
    font-size: 70px;
  }
}
/* ========================================
    
        max-width:1700px
    
========================================= */
@media (max-width: 1700px) {
  .wrapper {
    width: 100%;
  }
  .title p {
    right: 90px;
    top: -27px;
  }

  .thought {
    margin-bottom: 50px;
  }
}
/* ========================================
    
        max-width:1195px
    
========================================= */
@media (max-width: 1195px) {
  header {
    height: auto;
    /* opacity: 0.2; */
  }
  header nav ul li a {
    font-size: 15px;
  }
  .hero {
    width: 100%;
    height: auto;
    margin: 0 0 100px 0;
  }
  .hero img {
    height: auto;
  }
  img {
    width: 100vw;
  }
  .logo {
    z-index: 5;
    padding: 0;
  }

  .image {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: static;
    height: auto;
    width: 100%;
    margin-bottom: 50px;
  }

  .sice2,
  .sice3,
  .text {
    position: static;
    height: auto;
    margin: 0 auto 100px auto;
  }
  .sice3 {
    width: 50%;
  }
  .text {
    height: auto;
    width: 50%;
    order: 2;
  }
  .overview {
    height: 400px;
  }
}

/* ========================================
    
        max-width:940px
    
========================================= */
@media (max-width: 940px) {
  html {
    font-size: 50%;
    padding: 0 0.5%;
  }

  /* .maxwidth {
    padding: 0 10px;
  } */
  nav {
    display: none;
  }
  /*----------------
   レスポンシブハンバーガー
    -----------------*/
  .burger {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("./img/burger.png");
    background-size: 49px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    cursor: pointer;
    /* バーガーを押下した後もバーガーを隠さない */
    position: fixed;
    z-index: 99;
    top: 20px;
    right: 0;
  }
  .burger:hover {
    border-radius: 4px;
  }

  .burger.is-active {
    background-image: url("./img/close.png");
    position: fixed;
    z-index: 100;
  }

  .menu {
    width: 50vw;
    height: 100vh;
    color: rgb(233, 230, 230);
    background-color: #144e94;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    /* 特定の位置に固定 */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    display: none;
  }
  .menu.is-active {
    display: flex;
  }
  .menus {
    display: block;
    font-size: 25px;
    font-weight: 900;
    border-bottom: 1px solid #f4f6f8;
  }
  .click-head a {
    color: #f5f8f9;
    padding: 20px;
  }
  .click-head li {
    list-style-type: none;
  }

  .logo {
    margin: 0;
  }
  .hero {
    margin: 0 auto 100px auto;
  }
  .hero img {
    margin-top: 0;
  }
  .image {
    margin-bottom: 30px;
  }
  .text {
    width: 100%;
    margin-bottom: 30px;
  }

  .thought {
    flex-direction: column;
    height: auto;
    margin-bottom: 0px;
  }
  .woman {
    margin-bottom: 60px;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .title {
    height: auto;
    margin-bottom: 50px;
    background-color: min-width;
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: rgb(3, 10, 17);
  }
  .title h2 {
    writing-mode: horizontal-tb;
    padding-left: 0;
  }
  .title p,
  .title a {
    position: static;
  }

  /*--私たちと街---*/
  .strength {
    width: 100%;
    height: auto;
    background-color: #144e94;
    color: aliceblue;
    padding: 20px;
  }

  /*-案内・概要---*/
  .overview {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .overview-left {
    width: 100%;
    height: auto;
    order: 2;
  }
  .overview-right {
    width: 100%;
    height: auto;
    order: 4;
    margin-bottom: 100px;
  }
  .overview-text1 {
    width: 100%;
    height: auto;
    padding: 0 20px;
    margin-bottom: 10px;
    order: 1;
  }
  .overview-text2 {
    width: 100%;
    height: auto;
    padding: 0 20px;
    margin-bottom: 10px;
    order: 3;
  }
  .overview-text2 a,
  .overview-text1 a {
    position: static;
  }

  /*---街の画像---*/
  .city-img {
    width: 100%;
  }
  .city {
    height: auto;
    margin: 0;
  }

  /*----ラスト-----*/
  .last {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 20px;
    justify-content: flex-start;
    font-size: 18px;
  }

  .last-left {
    width: 100%;
    padding: 50px 0 0 30px;
  }
  .last-right {
    width: 100%;
    padding: 10px 0 0 30px;
  }
  /* --問い合わせ-- */
  .info {
    position: static;
  }
  .info a {
    font-size: 15px;
  }
}

@media (max-width: 988px) {
  .catchcopy {
    padding: 20px;
    background-color: transparent;
    color: black;
  }
}

/* ========================================
    
        max-width:760px
    
========================================= */

@media (max-width: 760px) {
  html {
    font-size: 40.5%;
  }

  .logo {
    height: 70px;
    padding: 0;
  }
  .menus {
    font-size: 17px;
  }
  .last-left {
    padding: 50px 0 0 30px;
    font-size: 15px;
  }
  .last-left h3 {
    font-size: 2.5rem;
  }
  .info a {
    font-size: 10px;
  }
}
